<header class="header" id="inicio">
    <img src="/public/images/hamburger.svg" alt="" class="hamburger" />
    <img src="/public/images/close.svg" alt="" class="close hidden" />
    <nav class="menu-nav">
        <a class="link" href="#inicio">Inicio</a>
        <a class="link" href="#quienes-somos">Quienes somos</a>
        <a class="link" href="#vision">Vision</a>
        <a class="link" href="#servicios">Servicios</a>
        <a class="link" href="#contacto">Contacto</a>
    </nav>
    <div class="head">
        <div class="title row">
            <h1>Llevamos tu negocio a otro nivel</h1>
        </div>
        <div class="subtitle row">
            <p>Potenciamos tu marca para obtener más clientes y mejores resultados</p>
        </div>
        <div class="btn-knowus row">
            <button onclick="location.href='#quienes-somos'" type="button">Conocenos</button>
        </div>
    </div>
</header>


<section class="aca-estamos" id="aca-estamos">

    <div class="container-fluid">

        <div class="row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 top-row">

            <div class="col left-col">

                <div class="row title">
                    <h3>¿Tenés un proyecto en mente?</h3>
                </div>

                <div class="row text">
                    <p>Hablemos de lo que podemos construir juntos. Te respaldamos y apostamos al crecimiento de
                        todo tu equipo y organizació <br>
                        <br>
                        Si estás buscando la agencia ideal para construir la presencia en línea que necesitás para
                        generar más conversiones e ingresos, <b>¡acá estamos!</b>
                    </p>
                </div>
            </div>

            <div class="col right-col">
                <img src="/public/images/ae-image.png" alt="">
            </div>

        </div>

    </div>

    <div class="bottom-row">

        <div class="col-2 text">
            <div class="row text-1">
                <h4>Disfrutá de un 50% de ahorro en tu primer mes</h4>
            </div>
            <div class="row text-2">
                <h4>Contratando cualquier plan de Gestión de RRSS</h4>
            </div>
        </div>

        <div class="col-2 btn-plan">
            <div class="row">
                <button onclick="location.href='#servicios'" type="button">Ver plan</button>
            </div>
        </div>

    </div>

</section>


<section class="caracteristicas" id="caracteristicas">

    <div class="container-fluid text-center">

        <div class="row title">
            <h3>Potenciamos tu empresa</h3>
        </div>

        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-4 align-items-center cards">

            <div class="col specs">
                <i class="fa-solid fa-stamp"></i>
                <h4>El crecimiento que tu marca necesita</h4>
                <p>Escuchamos a nuestro cliente, nos interesamos y comprometemos en alcanzar todo el potencial de su
                    empresa.</p>
            </div>

            <div class="col specs">
                <i class="fa-solid fa-stamp"></i>
                <h4>Dedicación y compromiso</h4>
                <p>Trato humano, transparente, velocidad de respuesta y muchas ganas de encontrar nuevos desafíos.
                </p>
            </div>

            <div class="col specs">
                <i class="fa-solid fa-stamp"></i>
                <h4>Tu negocio como si fuera nuestro</h4>
                <p>Seleccionamos la solución adecuada asegurándonos que no se desperdicie dinero con campañas poco
                    optimizadas o no idóneas.</p>
            </div>

            <div class="col specs">
                <i class="fa-solid fa-stamp"></i>
                <h4>Una solución para cada presupuesto</h4>
                <p>Nos adaptamos a diferentes modelos de negocio en función de las necesidades organizativas y
                    presupuestarias.</p>
            </div>

        </div>

    </div>

</section>


<section class="quienes-somos" id="quienes-somos">

    <div class="container-fluid text-center">

        <div class="row row-cols-md-1 row-cols-lg-2 top-row">

            <div class="col left-col">
                <img src="/public/images/qs-image.png" alt="">
            </div>

            <div class="col right-col">
                <div class="row title">
                    <h3>Quiénes somos</h3>
                </div>

                <div class="row text">
                    <p>Somos una empresa dedicada a brindar soluciones de Marketing Digital.
                        Nos apasionan los desafíos, pensamos en grande y tenemos la confianza de trabajar de lo que
                        nos
                        gusta, sabiéndo que ésta es nuestra vocación.
                        Observamos y estudiamos cada mercado de forma exhaustiva, registramos la necesidad y
                        comprendemos al cliente brindando la solución que mejor se adapte a su objetivo.
                    </p>
                </div>
            </div>

        </div>

    </div>

    <div class="text-bottom">
        <p>Tenemos la capacidad de crear estrategias de marketing online que te ayudarán en la difusión de tu marca
            y tus servicios para conseguir más beneficios en tu empresa.</p>
        <!-- <p>Nuestra misión principal es superar las expectativas de nuestros clientes logrando alcanzar todos
                sus
                objetivos, proveemos resultados reales yendo más allá de los límites!</p> -->
    </div>

</section>


<section class="vision" id="vision">

    <div class="text-center">

        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-3 top-row">

            <div class="col column">
                <h3>01</h3>
                <h4>Clientes</h4>
                <div class="linea"></div>
                <p>Nuestra misión principal es lograr que nuestros clientes cumplan todas sus expectativas y más.
                </p>
            </div>

            <div class="col column">
                <h3>02</h3>
                <h4>Ideas</h4>
                <div class="linea"></div>
                <p>Innovar es parte del proceso. Creamos ideas y estamos en constante movimiento.</p>
            </div>

            <div class="col column">
                <h3>03</h3>
                <h4>
                    <!-- Desarrollo -->Crecimiento
                </h4>
                <div class="linea"></div>
                <p>Continuamos desarrollando nuestras habilidades día a día para brindar un servicio excepcional.
                </p>
            </div>

        </div>

        <div class="row bottom-row">
            <div class="text">
                <p>Estamos hechos para las empresas en crecimiento. Poné nuestras herramientas de marketing y ventas
                    detrás de tu negocio y te ayudaremos a compartirlo con el mundo.
                </p>
            </div>
            <div class="linea"></div>
        </div>

    </div>

</section>


<section class="servicios" id="servicios">

    <div class="container-fluid text-center">

        <div class="title top-row">
            <h3>CONOCÉ NUESTROS SERVICIOS</h3>
        </div>

        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 bottom-row">

            <div class="col plan-card">
                <div class="row">
                    <div class="col">
                        <img src="/public/images/Social_Media_Monochromatic.png" alt="">
                    </div>
                    <div class="col">
                        <h4>Plan Redes Sociales</h4>
                    </div>
                </div>

                <div class="row">
                    <p>Adaptado a las necesidades de tu negocio. Nos ocupamos al 100% de tus redes sociales, de
                        conectar con tu público y conseguir los objetivos de tu marca.</p>
                </div>

                <div class="row">
                    <button class="extModal" href="./plan_redes_sociales.html">Saber más</button>
                </div>
            </div>

            <div class="col plan-card">
                <div class="row">
                    <div class="col">
                        <img src="/public/images/Designer_Monochromatic.png" alt="">
                    </div>
                    <div class="col">
                        <h4>Plan Digital</h4>
                    </div>
                </div>

                <div class="row">
                    <p>La Imagen Corporativa es clave para una exitosa estrategia de marketing. Desarrollamos un
                        diseño de marca atractivo, simple y eficaz, que transmita la esencia de tu empresa.</p>
                </div>

                <div class="row">
                    <button class="extModal" href="./plan_digital.html">Saber más</button>
                </div>
            </div>

            <div class="col plan-card">
                <div class="row">
                    <div class="col">
                        <img src="/public/images/Web_Developer_Monochromatic.png" alt="">
                    </div>
                    <div class="col">
                        <h4>Página Web</h4>
                    </div>
                </div>

                <div class="row">
                    <p>Ideal para empresas que buscan posicionamiento en internet. Presentamos tus productos y
                        servicios en Internet, para que sean encontrados por tus clientes.</p>
                </div>

                <div class="row">
                    <button class="extModal" href="./plan_pagina_web.html">Saber más</button>
                </div>
            </div>

        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="servicios-modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">

            </div>
        </div>
    </div>

</section>


<section class="contacto" id="contacto">

    <div class="container-fluid text-center">

        <div class="form-container">

            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 mid-row">

                <div class="col left-col">

                    <form action="/" method="post">

                        <p>Envianos tu consulta</p>

                        <div class="form-floating mt-3 mb-4">
                            <input type="text" class="form-control" placeholder="Nombre" aria-label="nombre" id="nombre"
                                name="nombre" required>
                            <label for="nombre">Nombre</label>
                        </div>

                        <div class="form-floating mb-4">
                            <input type="email" class="form-control" id="mail" placeholder="nombre@ejemplo.com" value=""
                                name="email" required>
                            <label for="mail">Email</label>
                        </div>

                        <div class="form-floating mb-4">
                            <textarea class="form-control" id="mensaje" placeholder="Mensaje" name="mensaje"
                                required></textarea>
                            <label for="mensaje">¿Cómo podemos ayudarte?</label>
                        </div>

                        <div class="form-floating mb-3 btn-enviar">
                            <button class="btn btn-primary" type="submit">Enviar solicitud</button>
                        </div>

                        <!-- <div class="form-status">
                                    {{message}}
                                </div> -->

                    </form>
                </div>

                <div class="col right-col">

                    <div class="row">
                        <img class="img-contact" src="/public/images/Customer_Service_Isometric.svg" alt="">
                    </div>

                    <div class="row mail-whatsapp">
                        <a href="mailto: info@deltagomarketing.com"><i
                                class="fa-regular fa-envelope"></i>info@deltagomarketing.com</a>

                        <a href="https://wa.me/+5491123125889"><i class="fa-brands fa-whatsapp"></i>+5491123125889</a>
                    </div>

                    <div class="row social-media">
                        <p>Seguinos en:</p>
                        <div class="icons">
                            <a class="social insta" href="https://www.instagram.com/deltagomarketing/" target="_blank"
                                rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                            <a class="social face" href="https://www.facebook.com/deltagomarketing/" target="_blank"
                                rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                        </div>
                        <div class="line"></div>
                    </div>



                </div>

            </div>

        </div>

    </div>

</section>