<header class="header" id="inicio">
    <img src="/images/hamburger.svg" alt="" class="hamburger" />
    <img src="/images/close.svg" alt="" class="close hidden" />
    <nav class="menu-nav">
        <a class="link" href="#inicio">Inicio</a>
        <a class="link" href="#quienes-somos">Quienes somos</a>
        <a class="link" href="#vision">Vision</a>
        <a class="link" href="#servicios">Servicios</a>
        <a class="link" href="#contacto">Contacto</a>
    </nav>
    <div class="head">
        <div class="title">
            <h1>Llevamos tu negocio a otro nivel</h1>
        </div>
        <div class="subtitle">
            <p>Potenciamos tu marca para obtener más clientes y mejores resultados</p>
        </div>
        <div class="btn-knowus">
            <button onclick="location.href='#quienes-somos'" type="button">Conocenos</button>
        </div>
    </div>
</header>

<section class="quienes-somos" id="quienes-somos">

    <div class="title">
        <h3>Quiénes somos</h3>
    </div>

    <div class="container-fluid text-center">

        <div class="row row-cols-md-1 row-cols-lg-2 align-items-center top-row">
            <div class="col image">
                <img src="/images/qs-image.png" alt="">
            </div>
            <div class="col text">
                <!-- <p>Somos una empresa dedicada a brindar soluciones de Marketing Digital. Nos encantan los desafíos,
                        pensamos en grande, nos tenemos confianza, trabajamos de lo que nos gusta y sobre todo, lo
                        hacemos con pasión.
                        Observamos y estudiamos cada mercado de forma exhaustiva, registramos la necesidad, comprendemos
                        al cliente y buscamos la solución que mejor se adapte a su objetivo.
                    </p> -->
                <p>Somos una empresa dedicada a brindar soluciones de Marketing Digital.
                    Nos apasionan los desafíos, pensamos en grande y tenemos la confianza de trabajar de lo que nos
                    gusta, sabiéndo que ésta es nuestra vocación.
                    Observamos y estudiamos cada mercado de forma exhaustiva, registramos la necesidad y
                    comprendemos al cliente brindando la solución que mejor se adapte a su objetivo.
                </p>
            </div>
        </div>
    </div>

    <div class="text-bottom">
        <!-- <p>Nuestra misión principal es lograr que nuestros clientes cumplan todas sus expectativas y más. Lograr lo posible y salir en busca de lo imposible!</p> -->
        <p>Nuestra misión principal es superar las expectativas de nuestros clientes logrando alcanzar todos
            sus
            objetivos, proveemos resultados reales yendo más allá de los límites!</p>
    </div>

</section>


<section class="vision" id="vision">

    <div class="text-center">

        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-3 align-items-start top-row">

            <div class="col column">
                <h3>01</h3>
                <h4>Clientes</h4>
                <div class="linea"></div>
                <p>Nuestra misión principal es lograr que nuestros clientes cumplan todas sus expectativas y más.
                </p>
            </div>

            <div class="col column">
                <h3>02</h3>
                <h4>Ideas</h4>
                <div class="linea"></div>
                <p>Innovar es parte del proceso. Creamos ideas y estamos en constante movimiento.</p>
            </div>

            <div class="col column">
                <h3>03</h3>
                <h4>
                    <!-- Desarrollo -->Crecimiento
                </h4>
                <div class="linea"></div>
                <p>Continuamos desarrollando nuestras habilidades día a día para brindar un servicio excepcional.
                </p>
            </div>

        </div>

        <div class="row bottom-row">
            <div class="text">
                <div class="row text-1">
                    <h4>Disfrutá de un 50% de ahorro en tu primer mes</h4>
                </div>
                <div class="row text-2">
                    <h4>Contratando cualquier plan de Gestión de RRSS</h4>
                </div>
            </div>
            <div class="btn-plan">
                <div class="row">
                    <button onclick="location.href='#servicios'" type="button">Ver plan</button>
                </div>
            </div>
        </div>

    </div>

</section>


<section class="caracteristicas" id="caracteristicas">

    <div class="container-fluid text-center">
        <div class="row title">
            <div class="col">
                <h3>Potenciamos tu empresa</h3>
            </div>
        </div><!-- row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-4 -->
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-4 align-items-center cards">
            <div class="col specs">
                <i class="fa-regular fa-thumbs-up"></i>
                <h4>El crecimiento que tu marca necesita</h4>
                <p>Escuchamos a nuestro cliente, nos interesamos y comprometemos en alcanzar todo el potencial de su
                    empresa.</p>
            </div><!--  col-sm-6 col-md-6 col-lg-3 -->
            <div class="col specs">
                <i class="fa-solid fa-user-tie"></i>
                <h4>Dedicación y compromiso</h4>
                <p>Trato humano, transparente, velocidad de respuesta y muchas ganas de encontrar nuevos desafíos.
                </p>
            </div>
            <div class="col specs">
                <i class="fa-solid fa-user-tie"></i>
                <h4>Tu negocio como si fuera nuestro</h4>
                <p>Seleccionamos la solución adecuada asegurándonos que no se desperdicie dinero con campañas poco
                    optimizadas o no idóneas.</p>
            </div>
            <div class="col specs">
                <i class="fa-solid fa-user-tie"></i>
                <h4>Una solución para cada presupuesto</h4>
                <p>Nos adaptamos a diferentes modelos de negocio en función de las necesidades organizativas y
                    presupuestarias.</p>
            </div>
        </div>
    </div>

</section>


<section class="aca-estamos" id="aca-estamos">

    <div class="container-fluid text-center">

        <div class="row top-row">
            <h3>¿Tenés un proyecto en mente?</h3>
        </div>

        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 align-items-center bottom-row">

            <div class="col left-col">
                <div class="row text">
                    <p>Hablemos de lo que podemos construir juntos. No hay límite para hacer realidad tus ideas.
                        Cuando te conectas con nosotros estás haciendo crecer tu negocio. Te respaldamos y apostamos
                        al crecimiento de todo tu equipo y organización. Si estás buscando la agencia ideal para
                        construir la presencia en línea que necesitas para generar mas inversiones e ingresos,</p>
                </div>

                <div class="row btn-herewa">
                    <button onclick="location.href='#contacto'" type="button">¡Acá estamos!</button>
                </div>
            </div>

            <div class="col right-col">
                <img src="/images/ae-image.png" alt="">
            </div>

        </div>

    </div>

</section>


<section class="servicios" id="servicios">

    <div class="title">
        <h3>Nuestros servicios</h3>
    </div>

    <div class="container-fluid text-center">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 align-items-center cards">
            <div class="col plan-card">
                <h4>Plan RRSS</h4>
                <p>Analizamos la presencia de la marca. Definición de estrategia acorde al estudio realizado y los
                    objetivos buscados. Creamos contenido digital atractivo para el cliente garantizando el
                    crecimiento de tu negocio.</p>
            </div><!--  col-sm-6 col-md-6 col-lg-3 -->
            <div class="col plan-card">
                <h4>Plan Digital</h4>
                <p>Diseño y acondicionamiento de las redes sociales. Creación de estética digital para la marca.
                    Plantillas para publicaciones en el feed y en historias con la estética de la marca.
                    Capacitación para el uso adecuado de plantillas en redes sociales.
                </p>
            </div>
            <div class="col plan-card">
                <h4>Páginas Web</h4>
                <p>Creación de diseño según la identidad de la marca.
                    Dominio y hosting con certificado de seguridad SSL.
                    Tienda Nube.</p>
            </div>
        </div>
    </div>

</section>


<section class="contacto" id="contacto">

    <div class="title">
        <h3>Contacto</h3>
    </div>

    <div class="container-fluid text-center">

        <div class="form-container">
            <div class="form-container-2">

                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 align-items-center mid-row">

                    <div class="col left-col">
                        <form action="/" method="post">

                            <div class="form-floating mt-3 mb-3">
                                <input type="text" class="form-control" placeholder="Nombre" aria-label="nombre"
                                    id="nombre" name="nombre" required>
                                <label for="nombre">Nombre</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" placeholder="Apellido" aria-label="apellido"
                                    id="apellido" name="apellido" required>
                                <label for="apellido">Apellido</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="mail" placeholder="nombre@ejemplo.com"
                                    value="" name="email" required>
                                <label for="mail">Email de contacto</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" placeholder="Empresa" aria-label="empresa"
                                    id="empresa" name="empresa">
                                <label for="empresa">Empresa (Opcional)</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="tel" class="form-control" id="telefono" name="telefono"
                                    placeholder="1122334455" pattern="[0-9]{2}[0-9]{4}[0-9]{4}" name="telefono">
                                <label for="telefono">Teléfono [Ej: 1122334455] (Opcional)</label>
                            </div>

                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="mensaje" placeholder="Mensaje" name="mensaje"
                                    required></textarea>
                                <label for="mensaje">¿Cómo podemos ayudarte?</label>
                            </div>

                            <div class="form-floating mb-3 btn-enviar">
                                <button class="btn btn-primary" type="submit">Enviar solicitud</button>
                            </div>

                            <div class="form-status">
                                {{message}}
                            </div>

                        </form>
                    </div>

                    <div class="col right-col">
                        <div class="row">
                            <img class="img-contact" src="/images/Customer Service_Isometric.svg" alt="">
                        </div>
                        <div class="row social-media">
                            <a class="social face" href="https://www.facebook.com/deltagomarketing/" target="_blank"
                                rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                            <a class="social insta" href="https://www.instagram.com/deltagomarketing/" target="_blank"
                                rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                        <div class="line"></div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</section>