<section class="servicios-modal">

    <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h1 class="modal-title" id="">Plan Redes Sociales</h1>
    </div>

    <div class="modal-body">

        <p>
            Plan diseñado para posicionar y potenciar la marca en redes sociales a través de creación de contenido y
            promoción comercial:
        </p>
        <br>
        <p>
            <b>Gestión de redes sociales de manera integral para potenciar la marca.</b> Preparación de estrategias de
            comunicación de acuerdo a las fechas comerciales importantes.
        </p>
        <br>
        <p>
            <b>Análisis del público objetivo de la marca y estrategias de posicionamiento de la misma.</b> Estrategia y
            ejecución de contenido y promociones apuntadas a cumplir con objetivos a corto y mediano plazo previa
            organización de agenda.
        </p>
        <br>
        <p>
            <b>Análisis de los resultados de cada promoción para futuras planificaciones</b> (siempre buscando nuevos segmentos
            e ideas en los que podemos encontrar potenciales clientes).
        </p>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-consultar" data-bs-dismiss="modal" onclick="location.href='#contacto'">Consultar plan</button>
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button> -->
    </div>

</section>