<section class="servicios-modal">

    <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h1 class="modal-title" id="">Plan Digital</h1>
    </div>

    <div class="modal-body">

        <p>
            Plan creado para clientes que quieren <b>gestionar su propio negocio</b> de manera digital, pero necesitan definir su imagen y presencia en redes sociales.
        </p>
        <br>
        <p>
            El plan incluye el <b>diseño y acondicionamiento</b> de las redes sociales, creación de una <b>estética digital</b> para la marca, organización de la información, diseño y creación de elementos complementarios (foto de perfil, portada, iconografía destacados). 
        </p>
        <br>
        <p>
            Además, también incluye la creación de <b>plantillas</b> para publicaciones en el feed y en historias con la estética de la marca, así también la <b>capacitación</b> para su uso adecuado en redes sociales. 
        </p>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-consultar" data-bs-dismiss="modal" onclick="location.href='#contacto'">Consultar plan</button>
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button> -->
    </div>

</section>