/* FUENTES */

@font-face {
  font-family: 'NeueEinstellung-Regular';
  src: url('fonts/NeueEinstellung-Regular.woff2') format('woff2'),
    url('fonts/NeueEinstellung-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* PAGINA */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: smooth;
}

/* html {
  scroll-padding-top: 120px;
} */

.container-fluid {
  width: 95%;
}

body {
  font-family: 'NeueEinstellung-Regular';
}

/* HEADER + NAV */

header {
  min-height: 100vh;
  background-image: url(/public/images/1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .hamburger {
  position: fixed;
  top: 30px;
  right: 30px;
  background: #fff;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, .5);
  z-index: 30;
}

.header .close {
  position: fixed;
  top: 30px;
  right: 30px;
  background: #fff;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, .5);
  z-index: 30;
}

.hidden {
  visibility: hidden;
}

.header .menu-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-image: linear-gradient(135deg, #1a6f91 0%, #3abee6 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: transform .3s ease-in-out;
  transform: translate(110%);
  box-shadow: 0 0 6px rgba(0, 0, 0, .5);
  z-index: 20;
}

.header .spread {
  transform: translate(0);
}

.header .menu-nav a {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.header .menu-nav .link {
  display: inline-block;
  margin-block: 2px;
  position: relative;
}

.header .menu-nav .link::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .24s ease;
}

.header .menu-nav .link:hover::after {
  transform: scaleX(1);
}

.head {
  color: #fff;
  width: 80%;
  height: 80%;
  margin: 40px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.head .title {
  max-width: 800px;
  /* word-wrap: break-word; */
  margin: 40px 0px;
}

.head .title h1 {
  font-size: 80px;
  font-weight: 600;
  line-height: 110px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.head .subtitle {
  max-width: 850px;
  margin: 40px 0px;
}

.head .subtitle p {
  font-size: 44px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.head .btn-knowus {
  margin: 40px 0px;
}

.head .btn-knowus button {
  font-size: 44px;
  font-weight: 600;
  text-transform: uppercase;
  width: 350px;
  height: 90px;
  color: #fff;
  background-color: rgb(242, 41, 89);
  border-radius: 50px;
  border: none;
  transition: .3s ease-in-out;
}

.head .btn-knowus button:hover {
  transform: scale(0.95);
  transition: .3s ease-in-out;
}


/* ACA ESTAMOS */

.aca-estamos {
  min-height: 100vh;
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.aca-estamos .top-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.aca-estamos .top-row .left-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aca-estamos .top-row .left-col .title h3 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 0px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  height: fit-content;
  width: fit-content;
  text-align: center;
  color: #fff;
  background-color: #3c7895;
  border-radius: 40px;
  border: none;
  margin: 20px;
}

.aca-estamos .top-row .left-col .text p {
  font-size: 28px;
  letter-spacing: 1px;
  text-align: left;
  max-width: 700px;
  margin: 20px 10px;
  padding: 0px 10px;
}

.aca-estamos .top-row .right-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aca-estamos .top-row .right-col img {
  min-width: 450px;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.aca-estamos .bottom-row {
  background-image: linear-gradient(90deg, #df8ab1 10%, #2b53c4 100%);
  height: fit-content;
  padding: 60px 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.aca-estamos .bottom-row .text {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aca-estamos .bottom-row .text-1 h4 {
  font-size: 34px;
  letter-spacing: 3px;
  font-weight: 600;
  margin-bottom: 20px;
}

.aca-estamos .bottom-row .text-2 h4 {
  font-size: 30px;
  letter-spacing: 2px;
}

.aca-estamos .bottom-row .btn-plan {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  width: 200px;
  height: 70px;
  margin: 50px 50px 0px 50px;
}

.aca-estamos .bottom-row .btn-plan button {
  font-size: 38px;
  font-weight: 300;
  text-transform: uppercase;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  color: #fff;
  background-color: #de405c;
  border-radius: 50px;
  border: none;
  transition: .3s ease-in-out;
}

.aca-estamos .bottom-row .btn-plan button:hover {
  transform: scale(0.95);
  transition: .3s ease-in-out;
}


/* CARACTERISTICAS */

.caracteristicas {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, rgba(229, 229, 229, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(229, 229, 229, 1) 100%);
}


.caracteristicas .container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  width: 84%;
  margin: 30px 0px;
}

.caracteristicas .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* word-wrap: break-word; */
  margin: 20px 20px 80px 20px;
}

.caracteristicas .title h3 {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  padding: 20px 80px;
  text-align: center;
  color: #fff;
  background-color: #3c7895;
  border-radius: 40px;
  border: none;
  max-width: 1340px;
}

.caracteristicas .cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-basis: 70%;
  margin: 20px 20px 20px 20px;
}

.caracteristicas .specs {
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  width: 350px;
}

.caracteristicas .specs i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  color: white;
  font-size: 40px;
  line-height: 65px;
  transform: translate(0px, 25px);
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fdc449 45%, #d39a1f 60%, #c28501 90%);
  filter: drop-shadow(0px 0px 5px white);
}

.caracteristicas .specs h4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  color: white;
  font-size: 22px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  height: 120px;
  width: 280px;
  padding: 10px 20px;
  border-radius: 40px;
  background-color: #3c7895;
  box-shadow: 0px 0px 5px black;
  margin-bottom: 20px;
}

.caracteristicas .specs p {
  font-size: 22px;
  letter-spacing: 1px;
  text-align: center;
  line-height: 32px;
  padding: 10px;
}



/* QUIENES SOMOS */

.quienes-somos {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.quienes-somos .top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.quienes-somos .top-row .left-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quienes-somos img {
  min-width: 400px;
  max-width: 80%;
  margin: 20px 0px;
}

.quienes-somos .top-row .right-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.quienes-somos .title {
  margin-bottom: 50px;
}

.quienes-somos .title h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 34px;
  text-transform: uppercase;
  width: fit-content;
  height: 60px;
  padding: 0 30px;
  background-color: #3c7895;
  border-radius: 40px;
  border: none;
}

.quienes-somos .text p {
  font-size: 26px;
  letter-spacing: 1px;
  text-align: left;
}

.quienes-somos .text-bottom {
  margin-top: 40px;
  min-height: 262px;
  background-image: linear-gradient(90deg, #1a6f91 40%, #3abee6 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.quienes-somos .text-bottom p {
  color: #fff;
  font-size: 36px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  padding: 30px;
  width: 90%;
}


/* VISION */

.vision {
  min-height: 100vh;
  background: radial-gradient(circle, rgba(229, 229, 229, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(229, 229, 229, 1) 100%);
}

.vision .text-center {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.vision .top-row {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 60px 0px;
}

.vision .column {
  max-width: 400px;
  height: 380px;
  margin: 40px 0px;
}

.vision .column h3 {
  color: #1e7a98;
  font-size: 120px;
  text-transform: uppercase;
}

.vision .column h4 {
  color: #000;
  font-size: 30px;
  text-transform: uppercase;
}

.vision .column .linea {
  color: #aadcdc;
  border: 3px solid #aadcdc;
  width: 120px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.vision .column p {
  color: #000;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 32px;
  max-width: 250px;
  margin: auto;
}

.vision .bottom-row {
  width: 100%;
  height: auto;
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vision .bottom-row .text {
  width: 55%;
  text-align: center;
}

.vision .bottom-row .text p {
  font-size: 30px;
  letter-spacing: 1px;
}

.vision .bottom-row .linea {
  color: #aadcdc;
  border: 3px solid #aadcdc;
  width: 30%;
  max-width: 300px;
  margin-top: 40px;
  border-radius: 10px;
}



/* SERVICIOS */

.servicios {
  min-height: 100vh;
  background: radial-gradient(circle, rgba(229, 229, 229, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(229, 229, 229, 1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.servicios .container-fluid {
  width: 84%;
}

.servicios .title h3 {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  padding: 20px 20px;
  text-align: center;
  color: #fff;
  background-color: #3c7895;
  border-radius: 30px;
  border: none;
  max-width: 1340px;
  margin: 60px auto;
}

.servicios .container-fluid .bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 40px;
}

.servicios .container-fluid .row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.servicios .plan-card {
  background-color: #ffffff;
  height: 450px;
  width: 350px;
  margin: 20px;
  padding: 0px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.servicios .plan-card .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.servicios .plan-card img {
  width: 120px;
  height: 100%;
}

.servicios .plan-card h4 {
  font-size: 24px;
  text-align: left;
  width: 90%;
}

.servicios .plan-card p {
  font-size: 20px;
  text-align: left;
  padding: 10px;
}

.servicios .plan-card button {
  color: #fff;
  font-size: 24px;
  border: 0px;
  background: #de405c;
  height: 50px;
  width: 95%;
  border-radius: 15px;
}

.servicios .plan-card button:hover {
  text-shadow: 0px 0px 5px #fff;
}

/* SERVICIOS MODAL */

.servicios-modal .modal-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.servicios-modal .modal-header h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 34px;
  width: fit-content;
  height: 60px;
  padding: 0 20px;
  background-color: #3c7895;
  border-radius: 40px;
  border: none;
}

.servicios-modal .modal-body p {
  padding: 0 20px;
}

.servicios-modal .modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.servicios-modal .modal-footer .btn-consultar {
  color: #fff;
  background-color: #de405c;
  width: 200px;
}

.servicios-modal .modal-footer .btn-consultar:hover {
  text-shadow: 0px 0px 5px #fff;
}

/* CONTACTO */

.contacto {
  min-height: 100vh;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(89, 171, 212, 1) 0%, rgba(53, 108, 141, 1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacto .container-fluid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
}

.contacto .form-container {
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  min-width: 50%;
  height: fit-content;
}

.contacto .mid-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contacto .left-col {
  display: flex;
  flex-direction: column;
}

.contacto .left-col p {
  font-size: 22px;
  text-align: left;
  letter-spacing: 2px;
  margin-left: 5px;
  margin-bottom: 20px;
}

.contacto form {
  color: black;
  text-align: left;
  width: 350px;
  margin: auto;
}

.contacto .form-floating input {
  height: 55px;
}

#telefono {
  text-align: right;
}

.contacto .form-floating textarea {
  height: 180px;
}

.contacto .form-floating.btn-enviar {
  text-align: right;
}

.contacto .form-floating button {
  width: 100%;
  height: 50px;
  border: none;
  background-color: #de405c;
}

.contacto .form-floating button:hover {
  text-shadow: 0px 0px 5px #fff;
}

.contacto .form-status {
  color: white;
  font-size: 14px;
  width: 300px;
  padding-left: 15px;
  padding-right: 15px;
}

.contacto .right-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacto .right-col .img-contact {
  height: 230px;
  width: 100%;
}

.contacto .right-col .mail-whatsapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 40px 0px;
}

.contacto .right-col .mail-whatsapp i {
  font-size: 26px;
  color: #000;
  transform: translate(0px, 3px);
  margin-right: 15px;
}

.contacto .right-col .mail-whatsapp a {
  color: #000;
  text-decoration: none;
  margin: 5px 0px;
  transition: 0.3s ease-in-out;
}

.contacto .right-col .mail-whatsapp a:hover {
  transform: translate(5px, 0px);
}

.contacto .right-col .mail-whatsapp a:hover .fa-envelope {
  color: #2570d3;
}

.contacto .right-col .mail-whatsapp a:hover .fa-whatsapp {
  color: #25d366;
}

.contacto .right-col .social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacto .right-col .social-media p {
  font-size: 18px;
}

.contacto .right-col .icons {
  display: inline-block;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contacto .right-col .social {
  font-size: 40px;
  width: fit-content;
  display: inline-block;
  animation: float 5s ease-in-out infinite;
  margin: 0px 5px;
}

.contacto .right-col .fa-facebook {
  color: #4267B2;
}

.contacto .right-col .face {
  animation-delay: 1s;
}

.contacto .right-col .fa-instagram {
  color: rgb(242, 38, 86);
  font-weight: 600;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contacto .right-col .line {
  transform: translate(0px, -8px);
  margin: auto;
  width: 98px;
  border: 3px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0);
  }
}